::selection {
  background: transparent;
}

body {
  font-family: "favorit";
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: 66.7% 33.3%;
  grid-gap: 20px;
  background-color: var(--black);
}
/* GAUCHE */
#gauche {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100vh;
}

#back-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 30px;
}

#back-btn:hover {
  scale: 102%;
}

#renderer {
  height: 100vh;
  width: 100%;
}

.app-control#sketch-controls {
  bottom: 1rem;
  right: 34.2%;
}

/* DROITE */

#droite {
  background-color: var(--white);
  height: 100vh;
}

select,
input {
  width: 80%;
  height: 20px;
  margin-left: 8%;
  font-family: "favorit";
  border-radius: 30px;
  border-style: none;
  padding-right: 10px;
  height: 40px;
  margin-top: 20px;
  background-color: var(--grey);
}

/* 
POUR ENLEVER LE STYLE PAR DEFAUT DU SELECT
outline: none;
-moz-appearance:none;
-webkit-appearance:none;
appearance: none;
*/

/* FORM ET SIZE */
#jerseySize {
  height: 35%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 20px;
}

.editL {
  display: flex;
  flex-direction: column;
  color: var(--black);
  justify-content: space-between;
  height: 35%;
}

.editI {
  display: flex;
  flex-direction: row;
  width: 80%;
}

/* FORME */

.fema {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid var(--black) 0.5px;
  cursor: pointer;
  margin-right: 30px;
}

.fema p {
  font-weight: 400;
  font-size: 1.2rem;
}

.fema:hover {
  background-color: var(--grey);
  color: var(--white);
}

/* SIZE */
#xxxl {
  justify-content: space-between;
}

.xxl {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid var(--black) 0.5px;
  cursor: pointer;
}

.xxl p {
  font-weight: 400;
  font-size: 1.2rem;
}

.xxl:hover {
  background-color: var(--grey);
  color: var(--white);
}

/* la class .app-control permet d'avoir une version "inactive" aka fermée de la fonctionnalité */
.app-control {
  background: #ffffff;
  border: 2px solid #000000;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: absolute;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.app-control.active {
  height: 400px;
  width: 40vw;
  background-image: none;
}

.app-control.picto {
  background-image: url("../../assets/img/rouage.svg");
  border: none;
}

.app-control.picto:hover {
  scale: 102%;
}

/* add panier btn */
#addpanier {
  width: 50px;
  margin-left: 20px;
  margin-top: 40px;
}

/* commander btn */
#buy {
  background-color: var(--black);
  border-radius: 30px;
  color: var(--white);
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#buy:hover {
  scale: 102%;
}

/**/
.app-control .control-target:not(.no-hide) {
  display: none;
  opacity: 0;
}

.app-control.active .control-target:not(.no-hide) {
  display: block;
  opacity: 1;
}

.app-control .toggle img {
  display: none;
  padding: 0.25rem;
}

.app-control.active .toggle img {
  display: block;
}

.app-control #p5-container {
  overflow: hidden;
  position: absolute;
}

#p5-container > canvas {
  transition: opacity 0.2s ease-in-out;
}

#p5-controls {
  padding: 1rem;
}

#p5-controls > * {
  margin-bottom: 2rem;
}

.option label span {
  float: right;
}
