::selection {
  background: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

select,
input {
  width: 100%;
  height: 30px;
}

#app {
  overflow: hidden;
}

.app-control {
  background: #ffffff;
  border: 2px solid #000000;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: absolute;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.app-control.active {
  height: 400px;
  width: 40vw;
}

.app-control.active#canvas {
  height: 400px;
  width: 600px;
}

.app-control#canvas {
  top: 1rem;
  left: 1rem;
}

.app-control#sketch {
  top: 1rem;
  right: 1rem;
}

.app-control#sketch-controls {
  bottom: 1rem;
  left: 1rem;
}

.app-control .control-target:not(.no-hide) {
  display: none;
  opacity: 0;
}

.app-control.active .control-target:not(.no-hide) {
  display: block;
  opacity: 1;
}

.app-control .toggle img {
  display: none;
  padding: 0.25rem;
}

.app-control.active .toggle img {
  display: block;
}

.app-control #p5-container {
  overflow: hidden;
  position: absolute;
}

#p5-container > canvas {
  transition: opacity 0.2s ease-in-out;
}

#p5-controls {
  padding: 1rem;
}

#p5-controls > * {
  margin-bottom: 2rem;
}

.option label span {
  float: right;
}

#renderer {
  height: 100vh;
  width: 100vw;
}

#buy {
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
