::selection {
  background: transparent;
}

body {
  font-family: "favorit";
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: 66.7% 33.3%;
  grid-gap: 20px;
}
/* GAUCHE */
#gauche {
  grid-column-start: 1;
  grid-column-end: 2;
}

#renderer {
  height: 100vh;
  width: 100%;
}

.app-control#sketch-controls {
  bottom: 1rem;
  right: 34.2%;
}

/* DROITE */

select,
input {
  width: 90%;
  height: 30px;
}

#canvas {
  width: 70%;
  padding: 1px;
}

/* la class .app-control permet d'avoir une version "inactive" aka fermée de la fonctionnalité */
.app-control {
  background: #ffffff;
  border: 2px solid #000000;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: absolute;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.app-control.active {
  height: 400px;
  width: 40vw;
}

/**/
/**/
.app-control .control-target:not(.no-hide) {
  display: none;
  opacity: 0;
}
/**/
.app-control.active .control-target:not(.no-hide) {
  display: block;
  opacity: 1;
}

.app-control .toggle img {
  display: none;
  padding: 0.25rem;
}

.app-control.active .toggle img {
  display: block;
}

.app-control #p5-container {
  overflow: hidden;
  position: absolute;
}

#p5-container > canvas {
  transition: opacity 0.2s ease-in-out;
}

#p5-controls {
  padding: 1rem;
}

#p5-controls > * {
  margin-bottom: 2rem;
}

.option label span {
  float: right;
}

#buy {
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
